<h1>Student Register</h1>
<form (submit)="handleSRegister($event)">
    <label for="Sname">name:</label><br>
    <input type="text" id="Sname" name="Sname" required [(ngModel)]="Sregister.name"><br>
    <label for="Semail">Email:</label><br>
    <input type="email" id="Semail" name="Semail" required [(ngModel)]="Sregister.email"><br>
    <label for="Spassword">Password:</label><br>
    <input type="password" id="Spassword"  name="Spassword" minlength="8" required [(ngModel)]="Sregister.password"><br>
   
    <input type="checkbox" name="isAllowed" id="isAllowed" required [(ngModel)]="Sregister.isAllowed" >
    <label for="isAllowed">IsAllowed:</label><br>
     <input type="submit" value="Register">
</form>
