
{{rerender()}}

<header>
   
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <div class="container">
        <a class="navbar-brand" href="#">E-learning</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav me-auto mb-2 mb-md-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/Student/allstudents"
              >Students</a>
            </li>
            
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/logout">logout</a>
              </li>
          </ul>
        </div>
    </div>
  </nav>
</header>
<br>
<br>
<br>
<router-outlet></router-outlet>
<div class="px-3">
  <h1>E-learnig.</h1>
  <p class="lead"> where students can access their learning materials online at any place and time. E-Learning most often takes place in the form of online courses, online degrees, or online programs.</p>
  <p class="lead">
    <a href="#" class="btn btn-sm btn-secondary fw-bold border-white bg-dark">Learn more</a>
  </p>
</div>







