
.bd-placeholder {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }
  
  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }
  
  
.wrapper{
    padding:0 0 100px;
  
    background-position :bottom center;
    background-repeat: no-repeat;
    background-size:contain ;
    background-attachment: fixed;
    min-height: 100%;
}


.wrapper .submit_btn{
    padding:10px;
    font-weight:1000;
    font-size: medium;
 
}
